.cart-sidebar{
  height: 100%;
  background: white;
  width: 25%;
  right:0;
  position: absolute;
  transition: 1s;
  z-index: 1;
  overflow: scroll;


  .close-cart{
    right: 0;
    position: absolute;
    font-size: large;
     &:hover{
       cursor: pointer;
       text-shadow: -1px 0px 2px black;
     }
     display: flex;
  }

  .empty-message{
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  button {
    margin: auto;
  }
}
